<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.FxLskMapper" >
  <resultMap id="BaseResultMap" type="com.power.common.entity.FxLsk" >
    <id column="xh" property="xh" jdbcType="BIGINT" />
    <result column="sszd" property="sszd" jdbcType="VARCHAR" />
    <result column="zdmc" property="zdmc" jdbcType="VARCHAR" />
    <result column="zdzz" property="zdzz" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="INTEGER" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="sfrq" property="sfrq" jdbcType="TIMESTAMP" />
    <result column="lryxh" property="lryxh" jdbcType="VARCHAR" />
    <result column="lrymc" property="lrymc" jdbcType="VARCHAR" />
    <result column="lrsj" property="lrsj" jdbcType="TIMESTAMP" />
    <result column="ldbh" property="ldbh" jdbcType="VARCHAR" />
    <result column="ldmc" property="ldmc" jdbcType="VARCHAR" />
    <result column="lskrq" property="lskrq" jdbcType="TIMESTAMP" />
    <result column="lskszzdmc" property="lskszzdmc" jdbcType="VARCHAR" />
    <result column="lskszsj" property="lskszsj" jdbcType="TIMESTAMP" />
    <result column="lskthkh" property="lskthkh" jdbcType="VARCHAR" />
    <result column="lskcx" property="lskcx" jdbcType="VARCHAR" />
    <result column="lskcph" property="lskcph" jdbcType="VARCHAR" />
    <result column="lskclzdmc" property="lskclzdmc" jdbcType="VARCHAR" />
    <result column="lskclqksm" property="lskclqksm" jdbcType="VARCHAR" />
    <result column="cxmc" property="cxmc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    xh, sszd, zdmc, zdzz, zt, bz, sfrq, lryxh, lrymc, lrsj, ldbh, ldmc, lskrq, lskszzdmc, 
    lskszsj, lskthkh, lskcx, lskcph, lskclzdmc, lskclqksm, cxmc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fx_lsk
    where xh = #{xh,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fx_lsk
    where xh = #{xh,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.power.common.entity.FxLsk" >
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fx_lsk ( sszd, zdmc, 
      zdzz, zt, bz, sfrq, 
      lryxh, lrymc, lrsj, 
      ldbh, ldmc, lskrq, 
      lskszzdmc, lskszsj, lskthkh, 
      lskcx, lskcph, lskclzdmc, 
      lskclqksm,cxmc)
    values ( #{sszd,jdbcType=VARCHAR}, #{zdmc,jdbcType=VARCHAR}, 
      #{zdzz,jdbcType=VARCHAR}, #{zt,jdbcType=INTEGER}, #{bz,jdbcType=VARCHAR}, #{sfrq,jdbcType=TIMESTAMP}, 
      #{lryxh,jdbcType=VARCHAR}, #{lrymc,jdbcType=VARCHAR}, #{lrsj,jdbcType=TIMESTAMP}, 
      #{ldbh,jdbcType=VARCHAR}, #{ldmc,jdbcType=VARCHAR}, #{lskrq,jdbcType=TIMESTAMP}, 
      #{lskszzdmc,jdbcType=VARCHAR}, #{lskszsj,jdbcType=TIMESTAMP}, #{lskthkh,jdbcType=VARCHAR}, 
      #{lskcx,jdbcType=VARCHAR}, #{lskcph,jdbcType=VARCHAR}, #{lskclzdmc,jdbcType=VARCHAR}, 
      #{lskclqksm,jdbcType=VARCHAR},#{cxmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.power.common.entity.FxLsk" >
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fx_lsk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sszd != null" >
        sszd,
      </if>
      <if test="zdmc != null" >
        zdmc,
      </if>
      <if test="zdzz != null" >
        zdzz,
      </if>
      <if test="zt != null" >
        zt,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="sfrq != null" >
        sfrq,
      </if>
      <if test="lryxh != null" >
        lryxh,
      </if>
      <if test="lrymc != null" >
        lrymc,
      </if>
      <if test="lrsj != null" >
        lrsj,
      </if>
      <if test="ldbh != null" >
        ldbh,
      </if>
      <if test="ldmc != null" >
        ldmc,
      </if>
      <if test="lskrq != null" >
        lskrq,
      </if>
      <if test="lskszzdmc != null" >
        lskszzdmc,
      </if>
      <if test="lskszsj != null" >
        lskszsj,
      </if>
      <if test="lskthkh != null" >
        lskthkh,
      </if>
      <if test="lskcx != null" >
        lskcx,
      </if>
      <if test="lskcph != null" >
        lskcph,
      </if>
      <if test="lskclzdmc != null" >
        lskclzdmc,
      </if>
      <if test="lskclqksm != null" >
        lskclqksm,
      </if>
      <if test="cxmc != null" >
        cxmc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sszd != null" >
        #{sszd,jdbcType=VARCHAR},
      </if>
      <if test="zdmc != null" >
        #{zdmc,jdbcType=VARCHAR},
      </if>
      <if test="zdzz != null" >
        #{zdzz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sfrq != null" >
        #{sfrq,jdbcType=TIMESTAMP},
      </if>
      <if test="lryxh != null" >
        #{lryxh,jdbcType=VARCHAR},
      </if>
      <if test="lrymc != null" >
        #{lrymc,jdbcType=VARCHAR},
      </if>
      <if test="lrsj != null" >
        #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ldbh != null" >
        #{ldbh,jdbcType=VARCHAR},
      </if>
      <if test="ldmc != null" >
        #{ldmc,jdbcType=VARCHAR},
      </if>
      <if test="lskrq != null" >
        #{lskrq,jdbcType=TIMESTAMP},
      </if>
      <if test="lskszzdmc != null" >
        #{lskszzdmc,jdbcType=VARCHAR},
      </if>
      <if test="lskszsj != null" >
        #{lskszsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lskthkh != null" >
        #{lskthkh,jdbcType=VARCHAR},
      </if>
      <if test="lskcx != null" >
        #{lskcx,jdbcType=VARCHAR},
      </if>
      <if test="lskcph != null" >
        #{lskcph,jdbcType=VARCHAR},
      </if>
      <if test="lskclzdmc != null" >
        #{lskclzdmc,jdbcType=VARCHAR},
      </if>
      <if test="lskclqksm != null" >
        #{lskclqksm,jdbcType=VARCHAR},
      </if>
      <if test="cxmc != null" >
        #{cxmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.power.common.entity.FxLsk" >
    update fx_lsk
    <set >
      <if test="sszd != null" >
        sszd = #{sszd,jdbcType=VARCHAR},
      </if>
      <if test="zdmc != null" >
        zdmc = #{zdmc,jdbcType=VARCHAR},
      </if>
      <if test="zdzz != null" >
        zdzz = #{zdzz,jdbcType=VARCHAR},
      </if>
      <if test="zt != null" >
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="sfrq != null" >
        sfrq = #{sfrq,jdbcType=TIMESTAMP},
      </if>
      <if test="lryxh != null" >
        lryxh = #{lryxh,jdbcType=VARCHAR},
      </if>
      <if test="lrymc != null" >
        lrymc = #{lrymc,jdbcType=VARCHAR},
      </if>
      <if test="lrsj != null" >
        lrsj = #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="ldbh != null" >
        ldbh = #{ldbh,jdbcType=VARCHAR},
      </if>
      <if test="ldmc != null" >
        ldmc = #{ldmc,jdbcType=VARCHAR},
      </if>
      <if test="lskrq != null" >
        lskrq = #{lskrq,jdbcType=TIMESTAMP},
      </if>
      <if test="lskszzdmc != null" >
        lskszzdmc = #{lskszzdmc,jdbcType=VARCHAR},
      </if>
      <if test="lskszsj != null" >
        lskszsj = #{lskszsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lskthkh != null" >
        lskthkh = #{lskthkh,jdbcType=VARCHAR},
      </if>
      <if test="lskcx != null" >
        lskcx = #{lskcx,jdbcType=VARCHAR},
      </if>
      <if test="lskcph != null" >
        lskcph = #{lskcph,jdbcType=VARCHAR},
      </if>
      <if test="lskclzdmc != null" >
        lskclzdmc = #{lskclzdmc,jdbcType=VARCHAR},
      </if>
      <if test="lskclqksm != null" >
        lskclqksm = #{lskclqksm,jdbcType=VARCHAR},
      </if>
       <if test="cxmc != null" >
        cxmc = #{cxmc,jdbcType=VARCHAR},
      </if>
    </set>
    where xh = #{xh,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.power.common.entity.FxLsk" >
    update fx_lsk
    set sszd = #{sszd,jdbcType=VARCHAR},
      zdmc = #{zdmc,jdbcType=VARCHAR},
      zdzz = #{zdzz,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER},
      bz = #{bz,jdbcType=VARCHAR},
      sfrq = #{sfrq,jdbcType=TIMESTAMP},
      lryxh = #{lryxh,jdbcType=VARCHAR},
      lrymc = #{lrymc,jdbcType=VARCHAR},
      lrsj = #{lrsj,jdbcType=TIMESTAMP},
      ldbh = #{ldbh,jdbcType=VARCHAR},
      ldmc = #{ldmc,jdbcType=VARCHAR},
      lskrq = #{lskrq,jdbcType=TIMESTAMP},
      lskszzdmc = #{lskszzdmc,jdbcType=VARCHAR},
      lskszsj = #{lskszsj,jdbcType=TIMESTAMP},
      lskthkh = #{lskthkh,jdbcType=VARCHAR},
      lskcx = #{lskcx,jdbcType=VARCHAR},
      lskcph = #{lskcph,jdbcType=VARCHAR},
      lskclzdmc = #{lskclzdmc,jdbcType=VARCHAR},
      lskclqksm = #{lskclqksm,jdbcType=VARCHAR},
      cxmc = #{cxmc,jdbcType=VARCHAR}
    where xh = #{xh,jdbcType=BIGINT}
  </update>
  
  
  
   <!-- getLskData -->
  <select id="getLskData" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fx_lsk LEFT JOIN sys_department dept on sszd = dept.departmentid
    <where>
	   	<if test="lock !=null">and zt = #{lock} </if>
	   	<if test="st!=null and et==null">and substring(sfrq,1,length(#{st}))&gt;=#{st}</if>
	   	<if test="et!=null and st==null">and substring(sfrq,1,length(#{et}))&lt;=#{et}</if>
	   	<if test="st!=null and et!=null">and substring(sfrq,1,length(#{st})) between #{st} and #{et}</if>
	   	<if test="lrymc!=null">and lrymc like concat('%',#{lrymc},'%')</if>
	   	<if test="zdzz!=null">and zdzz like concat('%',#{zdzz},'%')</if>
	   	<if test="depts != null">and sszd in (${depts})</if>
   	</where>
   	<if test="order != null">order by ${order}</if>
   	<if test="order == null">order by sfrq desc </if> 
   		,dept.sortcode asc
  </select>
  <!-- getCanDel -->
  <select id="getCanDel" parameterType="map" resultType="int">
  	SELECT count(*) FROM fx_lsk where zt = 1
  	<if test="xh!=null">and xh!=#{xh}</if>
  </select>
</mapper>